<h2>Register</h2>
<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <div>
    <label>Email:</label>
    <input type="email" formControlName="email" />
    <div *ngIf="registerForm.controls['email'].invalid && registerForm.controls['email'].touched">
      Email is required
    </div>
  </div>

  <div>
    <label>Password:</label>
    <input type="password" formControlName="password" />
    <div *ngIf="registerForm.controls['password'].invalid && registerForm.controls['password'].touched">
      Password is required (min length 6)
    </div>
  </div>

  <button type="submit" [disabled]="registerForm.invalid">Register</button>
</form>
