<article class="movie-card" tabindex="0">
  <div class="movie-card__poster-wrapper">
    <img
      [src]="movie.posterUrl"
      [alt]="movie.title + ' Poster'"
      class="movie-card__poster"
    />
    <div
      class="movie-card__overlay"
      [attr.aria-hidden]="!isOverlayVisible"
    >
      <h3 class="movie-card__title">{{ movie.title }}</h3>
      <button
        class="movie-card__details-btn"
        [routerLink]="['/movie', movie.id]"
        [attr.aria-label]="'View details for ' + movie.title"
      >
        Details
      </button>
    </div>
  </div>
</article>
